<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Dependency injection: inject dao into service -->
    <bean id="roomService" class="com.mingwandowski.soommate.service.impl.RoomServiceImpl">
        <property name="IRoomDao"  ref="IRoomDao"></property>
    </bean>

    <bean id="algorithmService" class="com.mingwandowski.soommate.service.impl.AlgorithmServiceImpl">
        <property name="IAlgorithmDao"  ref="IAlgorithmDao"></property>
    </bean>

    <!-- Dependency injection: inject service into controller
    <bean id="roomController" class="com.mingwandowski.soommate.controller.RoomController">
        <property name="RoomService" ref="RoomService"></property>
    </bean>
     -->



    <!-- load the properties file -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties"/>
    </bean>

    <!-- Configure the data source -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

    <!-- mybatis and spring are perfectly integrated, no configuration mapping file for mybatis is required -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- Scan the model package -->
        <property name="typeAliasesPackage" value="com.mingwandowski.soommate.model"/>
        <!-- Scan sql configuration file: xml file required by mapper -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!-- Mapper dynamic agent development, scan dao interface package -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- Inject sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- Give the interface package Dao that needs to be scanned -->
        <property name="basePackage" value="com.mingwandowski.soommate.dao"/>
    </bean>

    <!-- Transaction management -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--Database connection pool-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>