<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:该mapper.xml映射文件的 唯一标识 -->
<mapper namespace="com.mingwandowski.soommate.dao.IAlgorithmDao">
	
	<resultMap id="ResultResult" type="com.mingwandowski.soommate.model.Result">
	    <result property="resultId" column="resultId"/>
	    <result property="roomName" column="roomName"/>
	    <result property="averageSaved" column="averageSaved"/>
	    <result property="room1User" column="room1User"/>
	    <result property="room1Price" column="room1Price"/>
	    <result property="room2User" column="room2User"/>
	    <result property="room2Price" column="room2Price"/>
	    <result property="room3User" column="room3User"/>
	    <result property="room3Price" column="room3Price"/>
	    <result property="room4User" column="room4User"/>
	    <result property="room4Price" column="room4Price"/>
	    <result property="room5User" column="room5User"/>
	    <result property="room5Price" column="room5Price"/>
    </resultMap>
    
	<resultMap id="UserResult" type="com.mingwandowski.soommate.model.User">
	    <result property="userId" column="userId"/>
	    <result property="userName" column="userName"/>
	    <result property="roomName" column="roomName"/>
	    <result property="room1Price" column="room1Price"/>
	    <result property="room2Price" column="room2Price"/>
	    <result property="room3Price" column="room3Price"/>
	    <result property="room4Price" column="room4Price"/>
	    <result property="room5Price" column="room5Price"/>
    </resultMap>

	<select id="queryUserByRoomName" parameterType="String" resultMap="UserResult">
		select * from t_user where roomName = #{roomName} order by userId
	</select>
	
	<update id="setResult" parameterType="com.mingwandowski.soommate.model.Result">
		update t_result set averageSaved = #{averageSaved}, room1User = #{room1User}, 
		room2User = #{room2User}, room3User = #{room3User}, room4User = #{room4User}, 
		room5User = #{room5User}, room1Price = #{room1Price}, room2Price = #{room2Price}, 
		room3Price = #{room3Price}, room4Price = #{room4Price}, room5Price = #{room5Price} 
		where roomName = #{roomName}
	</update>
	
</mapper>