<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: The unique identifier of the mapper.xml mapping file -->
<mapper namespace="com.mingwandowski.soommate.dao.IRoomDao">
	
	<resultMap id="RoomResult" type="com.mingwandowski.soommate.model.Room">
	    <result property="roomId" column="roomId"/>
	    <result property="roomName" column="roomName"/>
	    <result property="roomPassword" column="roomPassword"/>
	    <result property="userNumber" column="userNumber"/>
	    <result property="totalPrice" column="totalPrice"/>
	    <result property="room1Name" column="room1Name"/>
	    <result property="room2Name" column="room2Name"/>
	    <result property="room3Name" column="room3Name"/>
	    <result property="room4Name" column="room4Name"/>
	    <result property="room5Name" column="room5Name"/>
    </resultMap>
    
    <resultMap id="UserResult" type="com.mingwandowski.soommate.model.User">
	    <result property="userId" column="userId"/>
	    <result property="userName" column="userName"/>
	    <result property="roomName" column="roomName"/>
	    <result property="room1Price" column="room1Price"/>
	    <result property="room2Price" column="room2Price"/>
	    <result property="room3Price" column="room3Price"/>
	    <result property="room4Price" column="room4Price"/>
	    <result property="room5Price" column="room5Price"/>
    </resultMap>
	
	<select id="signInRoom" parameterType="com.mingwandowski.soommate.model.Room"
		resultMap="RoomResult">
		select * from t_room where roomName = #{roomName} and roomPassword = #{roomPassword}	
	</select>
	
	<select id="queryUserByRoomName" parameterType="String" resultMap="UserResult">
		select * from t_user where roomName = #{roomName}
	</select>
	
	<insert id="signUpRoom" parameterType="com.mingwandowski.soommate.model.Room">
		insert into t_room (roomName, roomPassword, userNumber, totalPrice, 
		room1Name, room2Name, room3Name, room4Name, room5Name) 
		values (#{roomName}, #{roomPassword}, #{userNumber}, #{totalPrice}, 
		#{room1Name}, #{room2Name}, #{room3Name}, #{room4Name}, #{room5Name})
	</insert>
	
	<insert id="createResultTable" parameterType="com.mingwandowski.soommate.model.Result">
		insert into t_result (roomName) values (#{roomName})
	</insert>
	
	<insert id="signUpUser" parameterType="com.mingwandowski.soommate.model.User">
		insert into t_user (userName, roomName, 
		room1Price, room2Price, room3Price, room4Price, room5Price) 
		values (#{userName}, #{roomName}, 
		#{room1Price}, #{room2Price}, #{room3Price}, #{room4Price}, #{room5Price})
	</insert>
	
</mapper>